<div class="w220 D-inline-block v-alignTop">
    <div class="input-group">
        <span ng-show="name" class="input-group-addon">{{name}}</span>
        <input ng-disabled="true"
               ng-model="selectedLocal"
               min-date="min"
               max-date="max"
               datepicker-options="dateOptions"
               datepicker-popup="MMM yyyy"
               datepicker-mode="datePickerMode"
               show-button-bar="false"
               show-weeks="false"
               is-open="opened"
               class="form-control" />

        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event)" ng-disabled="disabled"><i class='fa fa-calendar'></i></button>
        </span>
    </div>
</div>
