<div class="row-fluid">

    <div class="row five">
        <div class="five col-lg-6">
            <div class="input-group mrg-down2">
                <span ng-show="textSelectName" class="input-group-addon">{{textSelectName}} ({{selectOptions.length}})</span>
                <select ng-disabled="selectOptions.length==0" ng-model="selectedValue" ng-options="o as o[selectDisplayPropertyName] for o in selectOptions | orderBy: '{{selectDisplayPropertyName}}'" class="form-control mrg-down2">
                    <option value="">-- {{translatedText.select}} --</option>
                </select>
            </div>
        </div>

        <div class="five col-lg-6">
            <button ng-click="addAll()" ng-disabled="selectOptions.length==0" class="btn btn-primary mrg-down2" title="{{translatedText.addAll}}"><i class="fa fa-plus pad-right1"></i>{{translatedText.addAll}}</button>
        </div>
    </div>

    <div class="row five" ng-show="!hideAdd">
        <div class="five col-lg-6">
            <div class="input-group mrg-down2">
                <span class="input-group-addon">{{textColumnDisplayTitle}}</span>
                <input ng-model="customPropertyValue" ng-disabled="!selectedValue" type="text" class="form-control" />
            </div>
        </div>

        <div class="five col-lg-6">
            <button ng-click="addSelectedValue()" ng-disabled="!selectedValue || !customPropertyValue" class="btn btn-primary mrg-down2" title="{{translatedText.add}}">
                <i class="fa fa-plus"></i>&nbsp;{{translatedText.add}}
            </button>
        </div>
    </div>

    <div ng-show="selectedValues.length == 0">
        <i class="fa fa-ellipsis-h"></i>
    </div>
    <div ng-show="selectedValues.length > 0">
        <grid-dm rows="selectedValues"
                 options="gridDmOptions"
                 table-class="table table-hover table-striped v-align-middle">
        </grid-dm>
    </div>
</div>
